# Config file for the CEBroker2 service

# Ports to listen on
CLIENTPORT={{ceb_client_port}}
ENGINEPORT={{ceb_engine_port}}

# The user to run the service as. Note that the ENGINESCRIPT
# script will be run as this user, so if (for example) that 
# submits jobs to a queueing system such as SGE or LSF, this
# user must have sumission privileges
USER={{ceb_user}}

# Maximum number of engines to start - 4 single-core or 1 multi-core engine 
MAXENGINES=AUTO
MAXMULTICOREENGINES=AUTO

# Script to run when requested to start an engine. See the 
# example scripts in /opt/cresset/CEBroker2/documentation/examples
# If not set, then no engines will be started by the broker - 
# you will have to manually connect engines to it instead.
ENGINESCRIPT=/opt/cresset/CEBroker2/documentation/examples/{{ceb_engine_script}}

# If set, more verbosity in log file
VERBOSE={{ceb_verbosity}}
