#!/bin/bash
#
# cresset_cebroker2   This shell script takes care of starting and stopping the CEBroker2 server for Cresset products
#
# chkconfig: - 95 5
#
# description: cresset_cebroker2 allows Cresset products to start/connect to remote FieldEngines
# processname: CEBroker2

. /etc/rc.d/init.d/functions

# Source /etc/sysconfig/network if it exists
[ -f /etc/sysconfig/network ] && . /etc/sysconfig/network

CEBROKER=/opt/cresset/CEBroker2/bin/CEBroker2
[ -x "$CEBROKER" ] || exit 1

# Default params, override in /etc/sysconfig/cebroker2
CLIENTPORT=9000
ENGINEPORT=9001
MAXENGINES=8
MAXMULTICOREENGINES=1
ENGINESCRIPT=
USER=cebroker

LOG=/var/log/cebroker2.log 

[ -r {{cebroker2_conf_path}} ] && . {{cebroker2_conf_path}}

ARGS="-p $CLIENTPORT -P $ENGINEPORT" 
[ "$MAXENGINES" = AUTO ] \
    && MAXENGINES=`( /bin/grep ^NodeName /etc/slurm/slurm.conf \
    | /bin/sed 's|^.*CPUs=\([0-9]*\) .*$|\1|' \
    | /usr/bin/awk '{sum += $1} END {print sum}' ) 2> /dev/null` \
    || MAXENGINES=8
if [ "$ENGINESCRIPT" != "" ]; then
  ARGS="$ARGS -s '$ENGINESCRIPT' -m $MAXENGINES -M $MAXMULTICOREENGINES"
fi

case "$VERBOSE" in
  [y]*) nv=1;;
  ""|*[!0-9]*) nv=0;;
  *) nv="$VERBOSE";;
esac
if [ $nv -gt 5 ]; then
  nv=5
fi
while [ $nv -gt 0 ]; do
  ARGS="$ARGS -v"
  let nv=nv-1
done

case "$1" in
  start)
    echo -n $"Starting CEBroker2: "
    daemon --user $USER $CEBROKER $ARGS 2>$LOG
    RETVAL=$?
    if [ $RETVAL -eq 0 ] ; then
      pid=`pidof -o $$ -o $PPID -o %PPID -x CEBroker2.exe`
      echo "$pid" > /var/run/CEBroker2.pid
      success && touch /var/lock/subsys/CEBroker2
    else
      failure
    fi
    echo
	;;
  stop)
    echo -n $"Stopping CEBroker2: "
    runuser -s /bin/bash $USER -c "$CEBROKER -t"
    RETVAL=$?
    if [ $RETVAL -eq 0 ] ; then
      rm -f /var/run/CEBroker2.pid
      success && rm -f /var/lock/subsys/CEBroker2
    else
      failure
    fi
    echo
	;;
  restart)
	$0 status > /dev/null && $0 stop
	sleep 2
	$0 start
    ;;
  condrestart)
	[ -f /var/lock/subsys/CEBroker2 ] && $0 restart || :
    RETVAL=$?
	echo
    ;;
  status)
    status CEBroker2
    RETVAL=$?
	;;
  *)
	echo $"Usage: $0 {start|stop|status|restart}"
	exit 3
esac

exit $RETVAL

