#!/bin/bash
#
# Wrapper script for cresset_cebroker2

# Source /etc/sysconfig/network if it exists
[ -f /etc/sysconfig/network ] && . /etc/sysconfig/network

CEBROKER=/opt/cresset/CEBroker2/bin/CEBroker2
[ -x "$CEBROKER" ] || exit 1

# Default params, override in /etc/sysconfig/cebroker2
CLIENTPORT=9000
ENGINEPORT=9001
MAXENGINES=8
MAXMULTICOREENGINES=1
ENGINESCRIPT=

LOG=/var/log/cebroker2.log 
CMD=$1
PIDFILE=$2

[ -r {{cebroker2_conf_path}} ] && . {{cebroker2_conf_path}}

TEMPPID=`su $USER -c mktemp`
ARGS="-p $CLIENTPORT -P $ENGINEPORT"
AUTOENGINES=`( /bin/grep ^NodeName /etc/slurm/slurm.conf \
    | /bin/sed 's|^.*CPUs=\([0-9]*\) .*$|\1|' \
    | /usr/bin/awk '{sum += $1} END {print sum}' ) 2> /dev/null` \
    || AUTOENGINES=8
[ "$MAXENGINES" = AUTO ] && MAXENGINES=$AUTOENGINES
[ "$MAXMULTICOREENGINES" = AUTO ] && MAXMULTICOREENGINES=$AUTOENGINES
if [ ! -z "$ENGINESCRIPT" ]; then
  ARGS="$ARGS -s '$ENGINESCRIPT' -m $MAXENGINES -M $MAXMULTICOREENGINES"
fi

case "$VERBOSE" in
  [y]*) nv=1;;
  ""|*[!0-9]*) nv=0;;
  *) nv="$VERBOSE";;
esac
if [ $nv -gt 5 ]; then
  nv=5
fi
while [ $nv -gt 0 ]; do
  ARGS="$ARGS -v"
  let nv=nv-1
done

case "$CMD" in
  start)
    eval "exec /bin/bash -c \"su $USER -c \\\"'$CEBROKER' --pid '$TEMPPID' $ARGS\\\"; \
        n=100; \
        while [ \\\$n -gt 0 ] && [ ! -s $TEMPPID ]; do \
            sleep 0.1; \
            let n=n-1; \
        done; \
        /bin/cp $TEMPPID $PIDFILE 2>/dev/null; \
        rm -f $TEMPPID\" 2> '$LOG'"
	;;
  stop)
    eval "exec /bin/bash -c \"su $USER -c \\\"'$CEBROKER' -t\\\" && rm -f '$PIDFILE'\""
	;;
esac
