[Unit]
Description=server that allows Cresset products to start/connect to remote FieldEngines
After=network.target

[Service]
Type=forking
EnvironmentFile={{cebroker2_conf_path}}
PIDFile=/var/run/CEBroker2.pid
ExecStart=/bin/bash /opt/cresset/CEBroker2/documentation/init.d/cresset_cebroker2.sh start /var/run/CEBroker2.pid
ExecStop=/bin/bash /opt/cresset/CEBroker2/documentation/init.d/cresset_cebroker2.sh stop /var/run/CEBroker2.pid
TimeoutSec=180
